<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <pipelines>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <latest-events>
            <processor type="Sitecore.Cintel.Reporting.Processors.LatestEventsReportProcessor, Sitecore.Cintel" set:type="Sitecore.Support.Cintel.Reporting.Processors.LatestEventsReportProcessor, Sitecore.Support.202620"/>
          </latest-events>
          <events>
            <processor type="Sitecore.Cintel.Reporting.Processors.EventsReportProcessor, Sitecore.Cintel" set:type="Sitecore.Support.Cintel.Reporting.Processors.EventsReportProcessor, Sitecore.Support.202620" />
          </events>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>